header .isActive {
    background: linear-gradient(90deg, #06B6D4 0%, #0891B2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .isActive h6,
header .isActive p {
    font-weight: 700;
}

header h6,
header p {
    font-weight: 400;
}