@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/SyneBold.ttf");
    font-family: "Syne";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/SyneRegular.ttf");
    font-family: "Syne";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/SyneMedium.ttf");
    font-family: "Syne";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/InterRegular.ttf");
    font-family: "Inter";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/SyneSemiBold.ttf");
    font-family: "Syne";
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/InterLight.ttf");
    font-family: "Inter";
    font-weight: 300;
}